requests
python-dotenv
openai==1.12.0

#optional local multilingual sentiment
fastapi
uvicorn
requests
sentence-transformers
scikit-learn
# spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
